<!DOCTYPE html>
<html lang="en" class="light scroll-smooth" dir="ltr">

<head>
    <meta charset="UTF-8">
    <title>Alpha E-com: Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="Fashion Store eCommerce Tailwind CSS Landing Template" name="description">
    <meta content="Shop, Fashion, eCommerce, Cart, Shop Cart, tailwind css, Admin, Landing" name="keywords">
    <meta name="author" content="Shreethemes">
    <meta name="website" content="https://shreethemes.in/">
    <meta name="email" content="support@shreethemes.in">
    <meta name="version" content="1.0.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

      <!-- favicon -->
      <link rel="shortcut icon" href="assets/images/favicon.ico">

      <!-- Css -->
      <link href="assets/libs/tiny-slider/tiny-slider.css" rel="stylesheet">
      <!-- Main Css -->
      <link href="assets/libs/%40mdi/font/css/materialdesignicons.min.css" rel="stylesheet" type="text/css">
      <link href="assets/css/tailwind.min.css" rel="stylesheet" type="text/css">
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      

</head>